<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My project</title>
    <link href="styles/main.css" rel="stylesheet" />
    <link href="../public/styles/main.css" rel="stylesheet" />
    <!--for live dsigning-->
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <div class="logo">
          <h1>WeatherX</h1>
        </div>
        <div class="nav-links">
          <a href="/">HOME</a>
          <a href="/">FIND CITY</a>
        </div>
      </nav>
      <nav class="sub-nav">
        <a href="/">Today</a>
        <a href="/">Hourly</a>
        <a href="/">Monthly</a>
        <a href="/">Weekend</a>
        <a href="/">Radar</a>
      </nav>
    </header>
    <main class="container">