<%- include("./partials/header.ejs") %>

<style>
  :root {
    --foreground-color: #1f2260;
    --background-color: #35307a;
    --texture-color: #484bb6;
    --bar-color: #8a207c;
    --border-color: #bd7d4f;
    --nav-color: #262538; /* opacity add after */
    --text-color1: #ffffff;
    --text-color2: rgb(255, 255, 66);
    --astronaut: #262a6e;
  }
  .weather {
    background-color: var(--foreground-color);
    border-radius: 15px; 
  }
  .grid-block{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 1fr;
    width: 100%;
    height: 100vh;
    gap: 20px;
  }
  .block2{
    grid-row: span 2;
  }

</style>
<div class="grid-block">
  <div class="weather block1">
    
  </div>
  <div class="weather block2"></div>
  <div class="weather block3"></div>
</div>

<%- include("./partials/footer.ejs") %>
