:root {
  --foreground-color: #1f2260;
  --background-color: #35307a;
  --texture-color: #484bb6;
  --bar-color: #8a207c;
  --border-color: #bd7d4f;
  --nav-color: #262538; /* opacity add after */
  --text-color1: #ffffff;
  --text-color2: rgb(255, 255, 66);
  --astronaut: #262a6e;
}
body {
  background-color: var(--background-color);
  background-image: url("../images/texture1.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color1);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 110px auto 91px;
  height: 100vh;
}
header{
  overflow: hidden;
}
main{
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.main-nav {
  background-color: var(--bar-color);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 3em;
  margin: 0;
  text-decoration: none;
  background: linear-gradient(var(--text-color1), var(--border-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h1 a{
  text-decoration: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  padding-right: 20px;
  overflow-x: hidden;

}
.nav-links a {
  color: var(--text-color1);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 21px;
}
.nav-links a:hover {
  color: var(--text-color2);
}
.sub-nav {
  height: 40px;
  background-color: var(--nav-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
}
.sub-nav a {
  color: var(--text-color1);
  text-decoration: none;
  padding: 10px 30px;
}
.sub-nav a:hover {
  background-color: var(--foreground-color);
}
.footer {
  background-color: var(--bar-color);
  border-top: 1px solid var(--border-color);
  width: 100%;
  height: 90px;
  position: relative;
  bottom: 0;
}
.copy-right{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

